@import "./variables";

p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: $sans;
}

h1 {
  font-size: 2.3rem;
  font-family: $playfair;
}

h2 {
  font-size: 2.3rem;
  font-family: $playfair;
}

h3 {
  font-size: 1.9rem;
}
