@import "./variables";

p {
  font-size: 1rem;
  line-height: 1.35;
  font-family: $sans;
}

h1 {
  font-size: 3rem;
  font-family: $playfair;
}

h2 {
  font-size: 2.5rem;
  font-family: $playfair;
}

h3 {
  font-size: 48px;
}

.description {
  font-size: 1.2rem;
}
