// COLORS
$black: #303031;
$yellow: #f5c64f;
$gray: #66645e;

// FONTS

$regular: 400;
$bold: 500;
$extra-bold: 700;
$playfair: "Playfair Display", serif;
$sans: "Open Sans", sans-serif;

// MEDIA QUERIES

$mobile: 575px;
$tablets: 768px;
$laptops: 980px;
$desktop: 1024px;
